html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


body{
 margin:0;
 padding:0;
 background: url(../images/bg.png) repeat fixed;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 12px;
}

#logo { width:500px; height:71px; background:url(../images/poostagram.png) no-repeat; margin: 0 auto;}

#upload-form {
	margin:  0 auto;
	width: 400px;
	padding: 10px 0 10px 30px;
}

#upload-form input{

}

#upload-form p { text-align: center; color:#333;  font-size: 12px;}

#upload-form input[type=text] {
	border: 0px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 3px 0;
	color:#888;
	font-size: 12px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#upload-form input[type=file] {
	color:#999;
}

#input-left {width:310px; height:100px; float:left; margin: 15px 0 0 6px;}
#input-right {width:84px; height:100px; float:right; background: url(../images/select.gif) no-repeat;}


#input-left .file {border: none; margin-top:5px; cursor:pointer;}

#input-right .button {border: none; background: url(../images/poost.png) no-repeat; width:76px; height:76px; cursor:pointer;}
#input-right .button:hover {border: none; background: url(../images/poosthover.png) no-repeat; width:76px; height:76px; cursor:pointer;}

#toilet-paper {
	width: 100%;
}

.paper-piece{
	display: block;
	width: 410px;
	margin:0 auto;
	background-image: url(../images/toilet-paper.png);
	padding-top: 30px;
	padding-bottom: 30px;
}

.paper-piece.first{ 
	/* corrige o bug do efeito de inercia do osx */
	height: 600px;
	margin-top:-660px;
}

.paper-piece h1{
	font-size: 18px;
}
.paper-piece h2{
	font-size: 12px;
}

.paper-piece h1, 
.paper-piece h2{
	text-align: left;
	margin-left: 20px;
	margin-bottom: 10px;
}


.photo{
	width: 400px;
	margin: 0px auto 3px;
	position: relative;
	text-align: center;
}

.photo:hover .photo-buttons{
	display: block;
}

.photo-buttons{
	display: none;
	height: 87px;
	width: 100%;
	position:absolute;
	bottom: 0;
	background: url(../images/plunger.png) no-repeat right top;
}

.photo-buttons a{
	float: right;
	margin: 35px 45px 35px 35px;
	text-decoration: none;
	color: #333;
}

.photo-buttons a:hover{
	text-decoration: underline;
}

.photo-buttons li{
	display: inline;
}

.photo-buttons a{
	padding: 10px;
}

div#header{
	 position:absolute;
	 top:0;
	 left:0;
	 width:100%;
	 padding:20px 0;
	 background: url(../images/roll2.png) no-repeat fixed top center;
	 z-index: 2;
	 height:190px;
}


.left {float:left;}
.right {float:right;}







@media screen{
 body>div#header{
  position:fixed;
 }
}

* html body{
 overflow:hidden;
} 

* html div#content{
 height:100%;
 overflow:auto;
}
